<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static', filename='favicon.ico') }}">
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <title>mb/{{title}}</title>
</head>
<body>
  {% block content %}{% endblock %}
  <footer>
    <div class="contact-links">
      <!-- thanks to http://www.entypo.com/ -->
      <a href="https://github.com/martin-martin/" target="_blank"><img class="icon" src="static/icons/github.svg"></a>
      <a href="https://www.linkedin.com/in/martinbreuss/" target="_blank"><img class="icon" src="static/icons/linkedin.svg"></a>
      <a href="https://plus.google.com/u/0/+MartinBreuss-martin-martin" target="_blank"><img class="icon" src="static/icons/google+.svg"></a>
      <a href="https://stackoverflow.com/users/5717580/martin-martin" target="_blank"><img class="icon" src="static/icons/stackoverflow.svg"></a>
      <a href="https://medium.com/@martin.breuss" target="_blank"><img class="icon" src="static/icons/medium.svg"></a>
      <a href="https://mobile.twitter.com/martinbreuss" target="_blank"><img class="icon" src="static/icons/twitter.svg"></a>
    </div>
    <p class="watersign">martinmade 2017</p>
  </footer>
  <div class="overflow">pst... this is a secret. :)</div>
</body>
</html>
