{% extends "base.html" %}
{% block content %}
  <div class="logo">
    <!-- TODO: link M elements to different website parts -->
    <span class="highlight-green">|</span><span class="highlight-orange">\/</span><span class="highlight-blue">|</span>
  </div>
  <p>This is my official site! I can be professional.</p>
  <div class="button-row">
    <button class="highlight-green">
      <a href="mailto:breuss.martin@gmail.com">contact me</a>
    </button>
    <button class="highlight-orange">
      <a href="{{ url_for('portfolio') }}">portfolio</a>
    </button>
    <button class="highlight-blue">
      <a href="http://www.xyayz.com">plunge on in</a>
    </button>
  </div>
  <!-- TODO: add contact info, link to fun website, link to portfolio -->
{% endblock %}
