{% extends "base.html" %}
{% block content %}
  <div class="logo">
    <!-- TODO: set up linking with clean .js, avoiding inline code -->
    <span class="highlight-green"
          onclick="javascript:location.href='mailto:breuss.martin@gmail.com'">|</span><span class="highlight-orange"
          onclick="javascript:location.href='{{ url_for('portfolio') }}'">\/</span><span class="highlight-blue"
          onclick="javascript:location.href='http://www.xyayz.com'">|</span>
    <!-- TODO: animate click events:
                1. contact transforms to a "!"
                2. portfolio moves the M arrow downwards
                3. xyayz jumps up and dives down -->
  </div>
  <div class="intro-text">
    <p>I like building pages on the web, do data analyses and create visualizations, as well as all things A.I.</p>
    <p>If you want to tell me something, or think that I should work for you, just send me an email. :)</p>
  </div>
  <!-- displayed on larger devices (browsers) -->
  <div class="button-row-main">
    <button class="nav-button highlight-green">
      <a href="mailto:breuss.martin@gmail.com">contact me</a>
    </button>
    <button class="nav-button highlight-orange">
      <a href="{{ url_for('portfolio') }}">portfolio</a>
    </button>
    <button class="nav-button highlight-blue">
      <a href="http://www.xyayz.com" target="_blank">more stuff</a>
    </button>
  </div>
  <!-- displayed on smaller devices (mobile) -->
  <div class="button-row-mobile">
    <button class="nav-mobile highlight-green">
      <a href="mailto:breuss.martin@gmail.com"><img class="icon" src="static/icons/mail.svg">email</a>
    </button>
    <button class="nav-mobile highlight-orange">
      <a href="{{ url_for('portfolio') }}"><img class="icon" src="static/icons/portfolio.svg">portfolio</a>
    </button>
    <button class="nav-mobile highlight-blue">
      <a href="http://www.xyayz.com" target="_blank"><img class="icon" src="static/icons/science.svg">more</a>
    </button>
  </div>
  <hr class="separator">
{% endblock %}
