<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='styles/style.css') }}">
    <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <h2>Check out these cool projects!</h2>
  <div class="portfolio">
    <!-- render each project including name, screenshot, description,
        and available links (live project, code, and related blog post) -->
    {% for project in projects %}
    <div class="project">
      <h3>{{project.name}}</h3>
      <!-- depending on availability, display either image as link,
          only image, or an explanatory string that the img is missing -->
      {% if project.live_link and project.image %}
        <a href={{project.live_link}} target="_blank">
          <div class="img-container" style="background-image: url('{{project.image}}')"></div>
        </a>
      {% elif project.image %}
        <div class="img-container" style="background-image: url('{{project.image}}')"></div>
      {% else %}
        <div class="img-container">currently no screenshot available</div>
      {% endif %}
      <p>{{project.description}}</p>
      <div class="project-links">
        {% if project.live_link %}
          <a href={{project.live_link}} target="_blank">see it live</a>
        {% endif %}
        {% if project.code_link %}
          <a href={{project.code_link}} target="_blank">see the code</a>
        {% endif %}
        {% if project.info_link %}
          <a href={{project.info_link}} target="_blank">read more</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</body>
</html>
