{% extends "base.html" %}
{% block content %}
  <h1>{{title}}</h1>
  <p>Check out these cool projects!</p>
  <div class="portfolio">
    <!-- render each project including name, screenshot, description,
        and available links (live project, code, and related blog post) -->
    {% for project in projects %}
    <div class="project">
      <h2>{{project.name}}</h2>
      <!-- depending on availability, display either image as link,
          only image, or an explanatory string that the img is missing -->
      {% if project.live_link and project.image %}
        <a href={{project.live_link}} target="_blank">
          <div class="img-container" style="background-image: url('{{project.image}}')"></div>
        </a>
      {% elif project.image %}
        <div class="img-container" style="background-image: url('{{project.image}}')"></div>
      {% else %}
        <div class="img-container">currently no screenshot available</div>
      {% endif %}
      <p>{{project.description}}</p>
      <div class="project-links">
        {% if project.live_link %}
          <a href={{project.live_link}} target="_blank">live version</a>
        {% endif %}
        {% if project.code_link %}
          <a href={{project.code_link}} target="_blank">code</a>
        {% endif %}
        {% if project.info_link %}
          <a href={{project.info_link}} target="_blank">read more</a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="button-row">
    <button class="highlight-green">
      <a href="mailto:breuss.martin@gmail.com">contact me</a>
    </button>
    <button class="highlight-orange">
      <a href="{{ url_for('home') }}">return home</a>
    </button>
    <button class="highlight-blue">
      <a href="http://www.xyayz.com" target="_blank">look for fun</a>
    </button>
  </div>
{% endblock %}
