body {
  text-align: center;
  background-color: #fdfdfd;
  color: #303030;
}

/* ---------- HOME ---------- */

.logo {
  font-size: 30em;
}

/* create color-hover-effect for M logo and buttons */
.highlight-orange:hover {
  color: #ffa000;
  border-color: #ffa000;
}

.highlight-green:hover {
  color: lightgreen;
  border-color: lightgreen;
}

.highlight-blue:hover {
  color: lightblue;
  border-color: lightblue;
}

button a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-decoration: none;
  color: inherit;
}

.button-row button {
  font-size: 1.1em;
  margin: 20px;
  padding: 10px;
  border: 2px solid #303030;
  border-radius: 15px;
  color: #303030;
  background-color: #fdfdfd;
}

/* ---------- PORTFOLIO ---------- */

.portfolio {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project {
  margin: 20px;
  padding: 20px;
  border: 3px solid #303030;
  border-radius: 20px;
  background-color: white;
}

.project-links {
  display: flex;
  justify-content: space-around;
}

.project-links a {
  color: #ffa000;
}

.project-links a:visited {
  color: #ffc107;
}

.project-links a:hover {
  color: #ff6f00;
}


/*
  restrict img to uniform size automatically,
  while showing the center portion of the screenshot. adapted from:
  https://stackoverflow.com/questions/15866223/how-to-make-images-get-cut-off
*/
.img-container {
  height: 200px;
  width: 300px;
  color: gray;
  background-position: center;
  border: 1px solid #303030;
  border-radius: 20px;
}

/* ---------- FOOTER ---------- */
footer {
  font-size: 0.6em;
  color: #303030;
}

.icon {
  height: 20px;
  width: auto;
  padding: 8px;
}
